* {
    box-sizing: border-box;
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/Lato-Bold.ttf);
}

html {}

body {
    margin: 0;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    visibility: hidden;
}

.read-more-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.read-more {
    position: relative;
    background-color: #fff;
    padding: 50px;
    font-family: Lato;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.close {
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    right: 10px;
    top: 10px;
    border: 2px solid #c2c2c2;
    background-color: #ffffff;
    color: #c2c1c1;
    font-family: Lato;
    font-weight: 700;
    border-radius: 20px;
}

.close:hover {
    border: #58c93a solid 2px;
    color: #58c93a;
}

.read-more input {
    width: 20rem;
    border: 2px solid #58c93a;
    background-color: #ffffff;
    color: #c2c1c1;
    font-family: Lato;
    color: #58c93a;
    text-align: center;
    font-weight: 700;
    border-radius: 20px;
    user-select: none;
    margin-bottom: 20px;
}

.read-more-visible {
    visibility: visible;
}

.subscribe:hover {
    border: #58c93a solid 2px;
    color: #58c93a;
}

.subscribe {
    cursor: pointer;
    align-self: flex-end;
    border: 2px solid #c2c2c2;
    background-color: #ffffff;
    color: #c2c1c1;
    font-family: Lato;
    font-weight: 700;
    border-radius: 20px;
}

.menu-btn {
    display: none;
    color: #b5b5b5;
}

.menu-btn:hover {
    color: #58c93a;
    cursor: pointer;
}

header {
    height: 8.1875rem;
    background-color: #292929;
    width: 100%;
    box-shadow: inset 0 -6px 0 #1e1e1e;
    margin-bottom: 5.0625rem;
}

.header-container {
    width: 980px;
}

.logo {
    flex-grow: 1;
    cursor: pointer;
}

nav {
    height: 100%;
}

.navbar-btn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 8.1875rem;
    color: #ffffff;
    font-family: Lato;
    font-weight: 700;
    letter-spacing: 0.8px;
    cursor: pointer;
}

.selected {
    border-bottom: #58c93a solid 6px;
}

.dropdown {
    visibility: hidden;
    position: absolute;
    width: 131px;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transform: translateY(119px);
}

.dropdown-container:hover .dropdown {
    visibility: visible;
}

.dropdown a {
    text-align: center;
    display: block;
    text-decoration: none;
    color: #292929;
    margin: 5px 5px;
}

main {
    flex-wrap: wrap;
    max-width: 980px;
    margin: 0 auto;
}

.card-container {
    max-height: 307px;
    max-width: 980px;
    margin-bottom: 80px;
}

.card {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: space-between;
}

.card>img {
    max-width: 100%;
    height: auto;
}

.card-container .card:nth-child(2) {
    margin-left: 40px;
}

.card-title {
    margin: 0px;
    color: #4f4e4e;
    letter-spacing: 0.84px;
    font-size: 28px;
    font-weight: 700;
    font-family: Lato;
    line-height: 30px;
    text-transform: uppercase;
}

.card-text {
    color: #606060;
    font-size: 16px;
    font-family: Lato;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.48px;
}

.card-button {
    width: 186px;
    height: 40px;
    border: 2px solid #c2c2c2;
    background-color: #ffffff;
    color: #c2c1c1;
    font-family: Lato;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.48px;
    border-radius: 20px;
}

.card-button:hover {
    color: #58c93a;
    border: 2px solid #58c93a;
    ;
    cursor: pointer;
}

.scroll {
    border-top: 1px solid #e1e0e0;
    ;
    height: 4.625rem;
    width: 100%;
}

.scroll-btn:hover {
    color: #58c93a;
}

.scroll-btn {
    color: #818181;
    background-color: #ffff;
    border: 0;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    cursor: pointer;
}

footer {
    background-color: #f8f8f8;
    box-shadow: inset 0 1px 0 #e1e0e0;
    height: 315px;
    margin: auto;
}

.footer-container {
    padding: 80px 0;
}

.footer-logo {
    margin-bottom: 32px;
}

.footernote {
    text-align: center;
    color: #a6a6a6;
    font-family: Lato;
    height: 12px;
    font-size: 13px;
    font-weight: 400;
    margin: 0px 0px 38px;
}

.footernote span {
    color: #939292;
    font-family: Lato-Bold;
    font-weight: 700;
    letter-spacing: 0.39px;
}

.soc-icons {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #e5e5e5;
    color: #ffff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
}

.behance:hover {
    background-color: #053eff;
}

.facebook:hover {
    background-color: #3b5998;
}

.dribble:hover {
    background-color: #ea4c89;
}

.twitter:hover {
    background-color: #00acee;
}

/* HELPERS */

.relative {
    position: relative;
}

.no-focus:focus {
    outline: none;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

@media only screen and (max-width: 1040px) {
    .dropdown{
        transform: translateY(93px);
    }

    header {
        height: 80px;
    }
    .header-container {
        margin-left: 20px;
        margin-right: 20px;
    }
    main {
        margin-left: 20px;
        margin-right: 20px;
    }
    ;
}

@media only screen and (max-width: 869px) {
    main {
        width: 468px;
        margin: 0 auto;
    }
    .card-container {
        flex-wrap: wrap;
        max-height: initial;
    }
    .card {
        flex-basis: 100%;
        margin-left: 0px !important;
        max-height: 307px;
        max-width: 468px;
    }
    .card:first-child {
        width: 468px;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 675px) {
    .menu-btn {
        display: block;
    }
    nav {
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        background-color: rgb(41 41 41 / 75%);
        border-left: solid 1px gray;
        box-shadow: -8px 0px 15px 4px #66755d;
        transform: translateX(110%);
        transition: transform 0.8s;
    }
    .navbar-btn {
        width: 40vw;
        height: 80px;
        border-bottom: gray solid 3px;
    }
    .navbar-btn:hover {
        background-color: rgb(88 201 58 / 55%);
    }
    body.menu-open nav {
        transform: translateX(0%);
    }
    body.menu-open .modal {
        visibility: visible;
    }
    .read-more {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 500px) {
    main {
        width: auto;
    }
    .card-container {
        max-width: 500px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .card {
        height: auto;
        max-width: 500px;
    }
}